<% if (typeof buttonData === 'undefined') { buttonData = []; } %>

<div class="contact__buttonContainer">
  <% buttonData.forEach(element => { %>
  <a href="<%- element.link %>" class="contact__button"><%- element.label %></a>
  <% }); %>
</div>