<% base = { path: "./", title: "page404", css: "page404", description: "架空のコーポレートデモサイトのお問合せページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%- include(base.path + "./parts/common/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/common/_header') %>
    <div class="page404">
      <div class="mainView-404">
        <h2 class="mainView__title-404">404 Not Found</h2>
        <div class="displayPc">
          <div class="mainView__subtitle-404">お探しのページはURLが誤っているか、削除された可能性があります。<br />
            3秒後にTOPページに遷移します</div>
          <div class="mainView__buttonContainer-404">
            <a href="" class="">TOPへ戻る</a>
          </div>
        </div>
      </div>
    </div>
    <div class="spTextContainer-404 displaySp">
      <div class="mainView__subtitle-404">お探しのページはURLが誤っているか、削除された可能性があります。<br />
        3秒後にTOPページに遷移します</div>
      <div class="mainView__buttonContainer-404">
        <a href="./top.html" class="button__404">TOPへ戻る</a>
      </div>
    </div>
    <%- include('./parts/common/_footer') %>
  </div>
</body>

</html>