<% base = { path: "./", title: "contact", css: "contact", description: "架空のコーポレートデモサイトのお問合せページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%- include(base.path + "./parts/common/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/common/_header') %>
    <% const mainViewData = {
      pageNameEn: "Contact",
      pageNameJp: "お問合せ",
      pageNames: ["contact"]
    }; %>
    <%- include('./parts/common/_mainView', { mainViewData : mainViewData }) %>
    <div class="contact">
      <div class="contact__inner">

        <div class="contactForm">
          <div class="contact__lead">弊社へのお問い合わせは<br />
            下記フォームより受け付けております。<br />
            担当者が確認後、折り返しご連絡させていただきます。</div>
          <form>
            <div class="contactTable">
              <table>
                <tr>
                  <th><label labelFor="">会社名<span class="asterisk">*</span></label>個人の場合は「個人」と入力してください</th>
                  <td><input name="" type="text" placeholder="例）株式会社ABC" value="" /></td>
                </tr>
                <tr>
                  <th><label labelFor="">ご担当者名<span class="asterisk">*</span></label>個人の場合は氏名を入力してください</th>
                  <td><input name="" type="text" placeholder="例）輸入車　太郎" value="" /></td>
                </tr>
                <tr>
                  <th><label labelFor="">電話番号<span class="asterisk">*</span></label></th>
                  <td><input name="" type="text" placeholder="例）022-000-0000" value="" /></td>
                </tr>
                <tr>
                  <th><label labelFor="">メールアドレス<span class="asterisk">*</span></label></th>
                  <td><input name="" type="text" placeholder="例）abcdefghijk@excitecode.co.jp" value="" /></td>
                </tr>
                <tr>
                  <th><label labelFor="">お問い合わせの種類<span class="asterisk">*</span></label></th>
                  <td><select>
                      <option>選択してください</option>
                      <option></option>
                      <option></option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th><label labelFor="">お問い合わせ内容<span class="asterisk">*</span></label></th>
                  <td><textarea name="" type="text" placeholder=""></textarea></td>
                </tr>
              </table>
              <p><span class="asterisk">*</span><input class="confirmCheckbox" type="checkbox" />「個人情報の取り扱いについて」同意する</p>
            </div>
          </form>
        </div>

      </div>
    </div>
    <%- include('./parts/common/_footer') %>
  </div>
</body>

</html>