<% base = { path: "./", title: "お問い合わせ確認", css: "contact", description: "架空のコーポレートデモサイトのお問い合わせ確認ページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%- include(base.path + "./parts/common/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/common/_header') %>
    <% const mainViewData = {
      pageNameEn: "Contact",
      pageNameJp: "お問合せ",
      pageNames: ["contact","confirm"]
    }; %>
    <%- include('./parts/common/_mainView', { mainViewData : mainViewData }) %>
    <div class="contact">
      <div class="contact__inner">
        <div class="contactForm">
          <div class="contact__lead">入力内容をご確認ください。</div>
          <form>
            <div class="contactTable-confirm">
              <table>
                <tr>
                  <th>会社名<span class="asterisk">*</span></th>
                  <td>株式会社ABC</td>
                </tr>
                <tr>
                  <th>ご担当者名<span class="asterisk">*</span></th>
                  <td>輸入車　太郎</td>
                </tr>
                <tr>
                  <th>電話番号<span class="asterisk">*</span></th>
                  <td>022-000-0000</td>
                </tr>
                <tr>
                  <th>メールアドレス<span class="asterisk">*</span></th>
                  <td>abcdefghijk@excitecode.co.jp</td>
                </tr>
                <tr>
                  <th>お問い合わせの種類<span class="asterisk">*</span></th>
                  <td>購入サポートについて</td>
                </tr>
                <tr>
                  <th>お問い合わせ内容<span class="asterisk">*</span></th>
                  <td class="textArea-confirm">お問い合わせ内容がここにはいります。お問い合わせ内容がここにはいります。お問い合わせ内容がここにはいります。お問い合わせ内容がここにはいります。お問い合わせ内容がここにはいります。お問い合わせ内容がここにはいります。</td>
                </tr>
              </table>
            </div>
            <div class="contact__buttonContainer">
              <a href="./contact.html" class="contact__toInput">戻る</a>
              <a href="./contactComplete.html" class="contact__send">送信する</a>
            </div>
          </form>
        </div>

      </div>
    </div>
    <%- include('./parts/common/_footerSimple') %>
  </div>
</body>

</html>