<% base = { path: "./", title: "トップ", css: "top", description: "架空のコーポレートデモサイトのトップページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%
title = "トップ";
css = "top";
description = "架空のコーポレートデモサイトのトップページです。";
%>
<%- include(base.path + "./parts/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/_header') %>
    <%- include('./parts/_footer') %>
  </div>
</body>

</html>