<!DOCTYPE html>
<html lang="ja">
<%- include('./parts/_head', { title: "トップ", css: "top", description: "架空のコーポレートデモサイトのトップページです。" }) %>

<body>
  <%- include('./parts/_header', { title: "My Website" }) %>
  <%- include('./parts/_footer', { title: "My Website" }) %>
</body>

</html>