<!DOCTYPE html>
<html lang="ja">
<%
title = "トップ";
css = "top";
description = "架空のコーポレートデモサイトのトップページです。";
%>
<%- include("./parts/_head", {title: "トップ", css: "top", description: "架空のコーポレートデモサイトのトップページです。"}); %>

<body>
  <%- include('./parts/_header') %>
  <%- include('./parts/_footer') %>
</body>

</html>