<% base = { path: "./", title: "works詳細", css: "worksDetail", description: "架空のコーポレートデモサイトの事業紹介の詳細ページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%- include(base.path + "./parts/common/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/common/_header') %>
    <div class="breadCrumbContainer">
      <%- include('./parts/common/_breadCrumb', { pageNames : ["works","車のドアが開けられなくなった｜ドアロックの交換と車両の点検"]}) %>
    </div>
    <div class="worksDetail">
      <div class="worksDetail__head">
        <ul class="newsLabels">
          <li class="worksDetail__label">トピックス</li>
          <li class="worksDetail__label">イベント・キャンペーン</li>
        </ul>
        <div class="worksDetail__title">2022年10月8日・9日・10日の3日間、試乗車フェアを開催します</div>
        <div class="worksDetail__date">2022.09.02</div>
      </div>

      <div class="worksDetail__imgContainer">
        <picture>
          <source media="(max-width: 768px)" srcset="./img/works/detail1-sp.jpg" width="315" height="176">
          <source media="(min-width: 769px)" srcset="./img/works/detail1.jpg" width="840" height="471">
          <img src="./img/works/detail1.jpg" alt="実績のイメージ %>" width="840" height="471">
        </picture>
      </div>

      <p class="worksDetail__text">本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。<br /><br />本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>

      <div class="worksDetail__buttonContainer">
        <a href="./work.html" class="worksDetail__button">実績一覧へ戻る</a>
      </div>
    </div>
    <%- include('./parts/common/_footer') %>
  </div>
</body>

</html>