<section class="aboutSection">
  <div class="aboutSection__imgWrapper">
    <img src="./img/aboutSection-pc.png" alt="About Us イメージ画像" width="550" height="480" />
  </div>
  <div class="aboutSection__textContainer">
    <div class="aboutSection__title">About us</div>
    <div class="aboutSection__text">弊社は、輸入車選びのすべてを見つめ直し、新たなスタイルを提案するインポート・セレクト・ブランドです。
      これまでの憧れだけや批評家の意見といったイメージで選ぶのではなく、オーナー様となる方がクルマから直接感じるリアルな感性を第一にした、最良の一台との出会いをコーディネートいたします。</div>
    <div class="aboutSection__readMore">
      <%- include('./_readMoreLink') %>
    </div>
  </div>
</section>