<header class="header">
  <div class="logoWrapper">
    <img src="./img/logo.png" alt="ロゴ ExciteCode" />
  </div>
  <nav class="navigation">
    <ul class="navigation__lists">
      <li><a href="">TOP</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">SERVICE</a></li>
      <li><a href="">WORKS</a></li>
      <li><a href="">NEWS</a></li>
      <li class="nav__contact"><a href=""><i class="fa-regular fa-envelope size-custom displayPc"></i><span>CONTACT</span></a></li>
      <li class="displaySp"><a href="">プライバシーポリシー</a></li>
    </ul>
  </nav>
</header>