<% if (typeof mainViewData === 'undefined') { mainViewData = []; } %>
<div class="mainView-<%- mainViewData.pageImgClass %>">
  <div class="mainView__titleContainer">
    <h2 class="mainView__title"><%- mainViewData.pageNameEn %></h2>
    <div class="mainView__subtitle"><%- mainViewData.pageNameJp %></div>
  </div>
</div>
<ul>
  <li>Top</li>
  <li>About</li>
</ul>