<div class="swiperContainer">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% for(var i=1; i < topSlides.number+1; i++) {
      const slideClass = "topSlide-" + i ;
      %>
      <div class="swiper-slide topSlide <%- slideClass %>"></div>
      <% } %>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>