<% if (typeof titleJp === 'undefined') { titleJp = ""; }
if (typeof titleEn === 'undefined') { titleEn = ""; } %>

<div class="aboutTitleContainer">
  <p class="aboutTitleContainer__titleJp"><%- titleJp %></p>
  <div class="mainTitleContainer">
    <h2 class="aboutTitleContainer__titleEn"><%- titleEn %></h2>
    <div class="decorativeLine"></div>
  </div>
</div>