<section class="accessSection">
  <div class="accessSection__title" id="access">
    <%- include('./_aboutTitleContainer', {titleJp : "アクセス", titleEn : "Access"}) %>
    <div class="accessSection__address">〒104-0061 <br class="displaySp">東京都中央区銀座６丁目10−１</div>
    <gmp-map center="35.669986724853516,139.7639923095703" zoom="14" map-id="DEMO_MAP_ID" class="googleMap">
      <gmp-advanced-marker position="35.669986724853516,139.7639923095703" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </div>
</section>