<% const slidePhotoData = [
  "./img/about/aboutSlide/1",
  "./img/about/aboutSlide/2",
  "./img/about/aboutSlide/3",
  "./img/about/aboutSlide/4",
  "./img/about/aboutSlide/5",
  "./img/about/aboutSlide/6",
  ];
%>
<div class="slidePhoto">
  <ul class="slidePhoto__lists">
    <% slidePhotoData.forEach(element => { %>
    <li class="slidePhoto__list">
      <picture>
        <source media="(max-width: 768px)" srcset="<%- element %>-sp.jpg" width="180" height="150">
        <source media="(min-width: 769px)" srcset="<%- element %>.jpg" width="480" height="400">
        <img src="<%- element %>.jpg" alt="サービスのイメージ" width="480" height="400">
      </picture>
    </li>
    <% }); %>
  </ul>
</div>