<footer class="footer">

  <div class="footer__upperContents">
    <div class="textContainer">
      <p class="textContainer__lead">輸入車の購入や修理のご相談など<br />お気軽にお問い合わせください。</p>

      <div class="contactMethod"><a href="./contact.html">
          <i class="fa-regular fa-envelope size-custom"></i>
          <span class="contactMethod__text">お問い合わせ</span></a>
      </div>

      <div class="contactMethod"><a href="tel:+0000000000">
          <i class="fa-regular fa-phone size-custom"></i>
          <span class="contactMethod__text">0000-000-000</span></a>
      </div>
      <p class="officeHours">受付時間 : 火曜日を除く 10：00〜18：00</p>
    </div>
    <div class="imgWrapper">
      <img src="./img/footer-image.png" alt="footer イメージ画像 車" />
    </div>

  </div>

  <div class="footer__lowerContents">
    <div class="footer__lowerContentsInner">
      <div class="leftContents">
        <div class="logoIconContainer">
          <div class="logoWrapper">
            <img src="./img/logo-footer.png" alt="ロゴ ExciteCode" width="258" height="180" />
          </div>

          <%- include('../common/_snsIconContainer') %>
        </div>
      </div>
      <nav class="footerNavigation">
        <ul class="footerNavigation__lists">
          <li><a href="./top.html">TOP</a></li>
          <li><a href="./about.html">ABOUT</a></li>
          <li><a href="./service.html">SERVICE</a></li>
          <li><a href="./works.html">WORKS</a></li>
          <li><a href="./news.html">NEWS</a></li>
          <li><a href="./contact.html">CONTACT</a></li>
          <li><a href="">プライバシーポリシー</a></li>
        </ul>
      </nav>
    </div>
    <small class="copyRight">&copy;2022 ExciteCode Automobile</small>
  </div>

</footer>