<footer class="footer">

  <div class="footer__lowerContents">
    <div class="footer__lowerContentsInner">
      <div class="leftContents">
        <div class="logoIconContainer">
          <div class="logoWrapper">
            <img src="./img/logo-footer.png" alt="ロゴ ExciteCode" width="258" height="180" />
          </div>

          <%- include('../common/_snsIconContainer') %>
        </div>
      </div>
      <nav class="footerNavigation">
        <ul class="footerNavigation__lists">
          <li><a href="">TOP</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">SERVICE</a></li>
          <li><a href="">WORKS</a></li>
          <li><a href="">NEWS</a></li>
          <li><a href="">CONTACT</a></li>
          <li><a href="">プライバシーポリシー</a></li>
        </ul>
      </nav>
    </div>
    <small class="copyRight">&copy;2022 ExciteCode Automobile</small>
  </div>

</footer>