<header class="header">
  <div class="logoWrapper">
    <a href="./top.html">
      <picture>
        <source media="(max-width: 768px)" srcset="./img/logo-sp.png" class="js-spLogo">
        <img src="./img/logo.png" alt="ロゴ ExciteCode">
      </picture>
    </a>
  </div>
  <nav class="js-navigation navigation">
    <%- include('./_hamburgerButton') %>
    <ul class="navigation__lists">
      <li><a href="/top.html">TOP</a></li>
      <li><a href="/about.html">ABOUT</a></li>
      <li><a href="/service.html">SERVICE</a></li>
      <li><a href="/works.html">WORKS</a></li>
      <li><a href="/news.html">NEWS</a></li>
      <li class="nav__contact"><a href="/contact.html"><i class="fa-regular fa-envelope size-custom displayPc"></i><span>CONTACT</span></a></li>
      <li class="displaySp"><a href="">プライバシーポリシー</a></li>
    </ul>
    <%- include('./_snsIconContainer') %>
  </nav>
  <div class="circleBackground displaySp"></div>
</header>