<% if (typeof linkTabData === 'undefined') { linkTabData = []; } %>
<ul class="linkTabs">
  <% linkTabData.forEach((linkTab, index)=> { %>
  <li class="linkTab <%- index === 0 ? "active" : ""; %>"><a href="" class="<%- linkTab.actions %>"><%- linkTab.labels %></a></li>
  <% }); %>
</ul>