<% if (typeof mainViewData === 'undefined') { mainViewData = []; } %>
<div class="mainView-<%- mainViewData.pageNames %>">
  <div class="mainView__titleContainer">
    <h2 class="mainView__title"><%- mainViewData.pageNameEn %></h2>
    <div class="mainView__subtitle"><%- mainViewData.pageNameJp %></div>
  </div>
</div>
<div class="breadCrumbsContainer-mainView">
  <%- include('./_breadCrumb', { pageNames : [mainViewData.pageNames]}) %>
</div>