<% if (typeof cardServiceData === 'undefined') { cardServiceData = []; } %>
<% const returnNewsLabel = (number) => {
      switch (number) {
        case 1:
          return "トピックス";
          break;
        case 2:
          return "イベント・キャンペーン";
          break;
        case 3:
          return "入庫車情報";
          break;
        default:
          return "その他";
        }
    }
%>

<ul class="news__lists">
  <% newsData.forEach((element) => { %>
  <li class="list">
    <div class="list__upperContents">
      <span class="newsDate"><%- element.newsDate %></span>
      <ul class="newsLabels">
        <% const labels = element.newsLabels || [];
          labels.forEach((label) => { %>
        <li class="newsLabel"><%- returnNewsLabel(label) %></li>
        <% }) %>
      </ul>
    </div>
    <div class="list__text"><%- element.newsText %></div>
  </li>



  <% }) %>
</ul>