<ul class="newsLinkTabs">
  <li class="newsLinkTab active"><a href="">すべてのお知らせ</a></li>
  <li class="newsLinkTab"><a href="">トピックス</a></li>
  <li class="newsLinkTab"><a href="">イベント・キャンペーン</a></li>
  <li class="newsLinkTab"><a href="">入庫車情報</a></li>
</ul>