<% if (typeof cardServiceData === 'undefined') { cardServiceData = []; }
  const returnWorksLabel = (number) => {
    switch (number) {
      case 1:
        return "トピックス";
        break;
      case 2:
        return "イベント・キャンペーン";
        break;
      case 3:
        return "入庫車情報";
        break;
      default:
        return "その他";
      }
  }
%>

<ul class="works__lists">
  <% worksData.forEach((element) => { %>




  <li class="list-work">
    <div class="list__upperContents">
      <span class="worksDate"><%- element.worksDate %></span>
      <ul class="worksLabels">
        <% const labels = element.worksLabels || [];
          labels.forEach((label) => { %>
        <li class="worksLabel"><%- returnWorksLabel(label) %></li>
        <% }) %>
      </ul>
    </div>
    <div class="list__text"><%- element.worksText %></div>
  </li>



  <% }) %>
</ul>