<% if (typeof newsData === 'undefined') { newsData = []; } %>
<% if (typeof linkTabData === 'undefined') { linkTabData = []; } %>
<section class="newsSection">
  <div class="newsSection__head">
    <h2 class="newsSection__title">News</h2>
    <div class="newsSection__linkContainer">
      <%- include('../common/_linktabs', { linkTabData :linkTabData}) %>
    </div>
  </div>
  <div class="newsSection__body">
    <%- include('../common/_newslists', { newsData :newsData}) %>
    <div class="newsSection__readMore">
      <%- include('../common/_readMoreLink', {link: "./news.html"}) %>
    </div>
  </div>
</section>