<% if (typeof newsData === 'undefined') { newsData = []; } %>
<sevtion class="newsSection">
  <div class="newsSection__head">
    <div class="newsSection__title">News</div>
    <div class="newsSection__linkContainer">
      <%- include('../common/_linktabs', { element :element}) %>

    </div>
  </div>
  <div class="newsSection__body">
    <%- include('../common/_newslists', { newsData :newsData}) %>
    <div class="newsSection__readMore">
      <%- include('../common/_readMoreLink') %>
    </div>
  </div>
</sevtion>