<div class="swiperContainer">
  <div class="swiper">
    <div class="swiper-wrapper">
      <% for(var i=1; i < topSlides.number+1; i++) { %>
      <div class="swiper-slide topSlide">
        <picture>
          <source media="(max-width: 768px)" srcset="./img/top/topSwiper/<%- i %>-sp.jpg" width="355" height="480">
          <source media="(min-width: 769px)" srcset="./img/top/topSwiper/<%- i %>.jpg" width="1034" height="780">
          <img src="./img/top/topSwiper/<%- i %>.jpg" alt="top swiper イメージ <%- i %>" width="1034" height="780">
        </picture>
      </div>
      <% } %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>