<div class="swiperContainer">
  <div class="swiper">
    <div class="swiper-wrapper">
      <% for(var i=1; i < topSlides.number+1; i++) {
      const slideClass = "topSlide-" + i ;
      %>
      <div class="swiper-slide topSlide <%- slideClass %>"></div>
      <% } %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>