.aboutSection {
  display: flex;
  justify-content: flex-start;
  margin-top: 6rem;
}
.aboutSection__textContainer {
  margin-left: 6rem;
}
.aboutSection__title {
  font-family: "Oswald";
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 4.6rem;
}

.aboutSection__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.aboutSection__readMore {
  text-align: right;
}
