.cardHorizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 5rem 0 8.8rem 4rem;
  border-bottom: #e2e2e2 solid 1px;

  @include sp {
    padding: 3rem 0;
    align-items: flex-start;
  }
}

.cardHorizontal__img {
  @include sp {
    > img {
      width: 100%;
      height: auto;
    }
  }
}
.cardHorizontal__body {
  margin-left: 5rem;

  @include sp {
    margin-left: 1.8rem;
  }
}

.cardHorizontal__label {
  @include label(#707070, #f3f3f3);
}

.cardHorizontal__title {
  margin-top: 3.7rem;
  font-size: 2.4rem;
  max-width: 59.6rem;
  @include ellipsisSingle;

  @include sp {
    margin-top: 1rem;
    font-size: 1.4rem;
    white-space: wrap;
    line-height: 2.8rem;
    @include ellipsisMulti(3, 8rem);
  }
}

.cardHorizontal__text {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #626262;
  line-height: 3.8rem;
  max-width: 68rem;
  @include ellipsisMulti(2, 6.6rem);
}

.cardHorizontal__link {
  @include date;
  margin-top: 4rem;

  @include sp {
    margin-top: 2rem;
  }
}
