html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", "Oswald", sans-serif;
}

header,
footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: 100vh;
}

.displayPc {
  @media only screen and (min-width: 769px) {
    display: block !important;
  }

  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}

.displaySp {
  @media only screen and (min-width: 769px) {
    display: none !important;
  }

  @media only screen and (max-width: 768px) {
    display: block !important;
  }
}

.contents {
  @media only screen and (max-width: 768px) {
    width: 94.6%;
  }
}
