.linkTabs {
  padding-left: 2rem;
}

.linkTab {
  margin-bottom: 2.6rem;
  margin-left: 4rem;
}

.linkTab a {
  font-size: 1.4rem;
  color: #a9a9a9;
  text-decoration: none;
}

.linkTab.active a {
  color: #000000;
  position: relative;
}

.linkTab.active a::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  background-color: #000000;
  top: 0.8rem;
  left: -1.6rem;
}
