%mainView {
  width: 127rem;
  max-width: 88%;
  position: relative;
  margin-left: 17rem;
  margin-top: 15rem;
  padding-bottom: 50rem;
}

.mainView-about {
  @extend %mainView;
  background-image: url("../img/mainView/about.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mainView__titleContainer {
  display: inline-block;
  padding: 2rem 4.5rem 5rem 4.5rem;
  min-width: 50rem;
  background-color: #ffffff;
}

.mainView__title {
  font-family: "Oswald";
  font-size: 10rem;
  line-height: 4.5rem 5rem;
  font-weight: bold;
}

.mainView__subtitle {
  font-size: 2rem;
  font-weight: bold;
}
