%mainView {
  height: 51.4rem;
  position: relative;
  margin-left: 17rem;
  margin-top: 15rem;
  padding-bottom: 50rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include sp {
    width: 100%;
    max-width: none;
    margin: 0 0 0 1rem;
    margin-top: 3rem;
    padding-bottom: 28rem;
    width: 100%;
    height: auto;
  }
}

.mainView-about {
  @extend %mainView;
  background-image: url("../img/mainView/about.jpg");

  @include sp {
    background-image: url("../img/mainView/about-sp.jpg");
  }
}

.mainView-service {
  @extend %mainView;
  background-image: url("../img/mainView/service.jpg");

  @include sp {
    background-image: url("../img/mainView/service-sp.jpg");
  }
}

.mainView-news {
  @extend %mainView;
  background-image: url("../img/mainView/news.jpg");

  @include sp {
    background-image: url("../img/mainView/news-sp.jpg");
  }
}

.mainView-works {
  @extend %mainView;
  background-image: url("../img/mainView/works.jpg");

  @include sp {
    background-image: url("../img/mainView/works-sp.jpg");
  }
}

.mainView__titleContainer {
  display: inline-block;
  padding: 2rem 4.5rem 5rem 4.5rem;
  min-width: 50rem;
  background-color: #ffffff;

  @include sp {
    padding: 1rem 6.8rem 5.5rem 1.8rem;
    min-width: 19rem;
  }
}

.mainView__title {
  font-family: "Oswald";
  font-size: 10rem;
  line-height: 4.5rem 5rem;
  font-weight: bold;

  @include sp {
    font-size: 4.4rem;
  }
}

.mainView__subtitle {
  font-size: 2rem;
  font-weight: bold;

  @include sp {
    font-size: 1.2rem;
  }
}

.breadCrumbsContainer-mainView {
  padding-right: 6rem;

  @include sp {
    padding-right: 1rem;
  }
}
