%mainView {
  width: 127rem;
  max-width: 88%;
  position: relative;
  margin-left: 17rem;
  margin-top: 15rem;
  padding-bottom: 50rem;

  @include sp {
    width: 100%;
    margin: 0 0 0 1rem;
    padding-bottom: 28rem;
  }
}

.mainView-about {
  @extend %mainView;
  background-image: url("../img/mainView/about.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include sp {
    margin-top: 3rem;
    background-image: url("../img/mainView/about-sp.jpg");
    width: 100%;
    height: auto;
  }
}

.mainView__titleContainer {
  display: inline-block;
  padding: 2rem 4.5rem 5rem 4.5rem;
  min-width: 50rem;
  background-color: #ffffff;

  @include sp {
    padding: 1rem 6.8rem 5.5rem 1.8rem;
    min-width: 19rem;
  }
}

.mainView__title {
  font-family: "Oswald";
  font-size: 10rem;
  line-height: 4.5rem 5rem;
  font-weight: bold;

  @include sp {
    font-size: 4.4rem;
  }
}

.mainView__subtitle {
  font-size: 2rem;
  font-weight: bold;

  @include sp {
    font-size: 1.2rem;
  }
}
