@mixin topSectiontitle-h2 {
  font-family: "Oswald";
  font-size: 7rem;

  @media only screen and (max-width: 768px) {
  }
}

@mixin ellipsisSingle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ellipsisMulti($number, $height) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $number;
  text-overflow: ellipsis;
  max-height: $height;
}

@mixin label($color, $backgroundColor) {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: $color;
  background-color: $backgroundColor;
  display: inline-block;
}

@mixin date {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a9a9a9;
}

@mixin slideInKeyframes($from, $to) {
  @keyframes slideIn {
    from {
      transform: translateX($from);
      opacity: 1;
    }
    to {
      transform: translateX($to);
      opacity: 1;
    }
  }
}

@mixin pauseKeyframes($keepPosision) {
  @keyframes pause {
    0%,
    100% {
      transform: translateX($keepPosision);
      opacity: 1;
    }
  }
}

@mixin slideInWithPauseAnimation(
  $duration: 5s,
  $pauseDuration: 2s,
  $from: 200%,
  $to: -18%,
  $keepPosision: -18%
) {
  @include slideInKeyframes($from, $to);
  @include pauseKeyframes($keepPosision);

  transform: translateX(0%);
  animation: slideIn #{$duration} linear,
    pause #{$pauseDuration} linear #{$duration} forwards;
}
