@mixin topSectiontitle-h2 {
  font-family: "Oswald";
  font-size: 7rem;

  @media only screen and (max-width: 768px) {
  }
}

@mixin ellipsisSingle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ellipsisMulti($number, $height) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $number;
  text-overflow: ellipsis;
  max-height: $height;
}

@mixin label($color, $backgroundColor) {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: $color;
  background-color: $backgroundColor;
  display: inline-block;
}

@mixin date {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a9a9a9;
}
