@import "mixin";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "breadCrumb";
@import "summarySection";
@import "sideBar";
@import "photoLists";
@import "pager";
@import "footer";

.breadCrumbContainer {
  margin: 9rem 0;
  padding: 0 4.6rem 0 0;

  @include sp {
    margin: 1rem 0;
    padding-top: 0;
  }
}

.title__h2-service {
  margin-top: 4rem;
  font-size: 2.2rem;
  background-color: #f8f9f9;
  padding: 0.5rem 0 1rem 0.8rem;
  border-left: 2px solid #707070;

  @include sp {
    font-size: 1.6rem;
  }
}

.title__h3-service {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  > span:first-child {
    font-size: 1.8rem;
    border-bottom: 1px solid #001e63;
    padding: 0 0 0.5rem 1.5rem;
  }

  > span:last-child {
    border-bottom: 1px solid #e4e4e4;
    padding: 0 0 0.5rem 1.5rem;
    flex: 1;
  }

  @include sp {
    > span {
      font-size: 1.4rem;
    }
  }
}

.newsDetail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem auto 12rem;
  width: 100%;
  max-width: 110rem;

  @include sp {
    display: block;
    margin: 4rem auto 8rem;
  }
}

.newsDetail__main {
  display: block;
  width: 100%;
  max-width: 76rem;
  padding: 0 4rem;

  @include sp {
    padding: 0 6.67% 8rem;
  }
}

.newsDetail__label {
  @include label(#626262, #f3f3f3);
}

.newsDetail__title {
  margin-top: 2rem;
  font-size: 2.6rem;

  @include sp {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

.newsDetail__date {
  margin-top: 3.6rem;
  font-size: 1.1rem;
  color: #a9a9a9;
}

.newsDetail__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 100%;
  max-width: 68rem;
  margin: 4rem auto 0 auto;

  @include sp {
    font-size: 1.4rem;
  }
}

.newsDetail__imgContainer {
  margin-top: 4rem;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.newsDetail__buttonContainer {
  margin-top: 7.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsDetail__button {
  display: inline-block;
  color: #001e63;
  font-size: 1.4rem;
  border: #001e63 solid 1px;
  border-radius: 4px;
  // background-position: 8rem center;
  // transition: background-position 1s ease-in-out;
}

.newsDetail__button:first-child {
  padding: 1.5rem 2rem 1.5rem 4rem;
  background-image: url("../img/arrow-before.svg");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 2rem center;
}

.newsDetail__button:last-child {
  padding: 1.5rem 4rem 1.5rem 2rem;
  background-image: url("../img/arrow-next.svg");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 10rem center;
}

.newsDetail__button:hover {
  background-position: 6rem center;
}

.newsDetailLists {
  margin: 4.4rem 0;
  font-size: 1.4rem;
  line-height: 4rem;
  list-style-type: disc;
  margin-left: 2rem;
}
