@import "mixin";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "breadCrumb";
@import "summarySection";
@import "sideBar";
@import "photoLists";
// @import "linkTabs";
@import "pager";
@import "footer";

.breadCrumbContainer {
  margin: 12rem 0;
  padding-top: 6rem;
}

.newsDetail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 9.6rem auto 12rem;
}

.newsDetail__main {
  display: block;
  width: 100%;
  max-width: 84rem;
}

.newsDetail__label {
  @include label(#626262, #f3f3f3);
}

.newsDetail__title {
  margin-top: 2rem;
  font-size: 2.6rem;
}

.newsDetail__date {
  margin-top: 3.6rem;
  font-size: 1.1rem;
  color: #a9a9a9;
}

.newsDetail__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 100%;
  max-width: 68rem;
  margin: 4rem auto 0 auto;
}

.newsDetail__imgContainer {
  margin-top: 4rem;
  text-align: center;
}

.newsDetail__buttonContainer {
  margin-top: 7.5rem;
  text-align: center;
}

.newsDetail__button {
  color: #001e63;
  font-size: 1.4rem;
  padding: 1.5rem 8rem 1.5rem 10rem;
  border: #001e63 solid 1px;
  border-radius: 4px;
  background-image: url("../img/arrow-before.svg");
  background-repeat: no-repeat;
  background-position: 8rem center;
  transition: background-position 1s ease-in-out;
}

.newsDetail__button:hover {
  background-position: 6rem center;
}
