@import "mixin";
@import "common";
@import "header";
@import "hamburgerButton";
@import "hamburgerMenu";
@import "mainView";
@import "summarySection";
@import "workslists";
@import "linkTabs";
@import "pager";
@import "footer";

.worksDetailMainContents {
  display: block;
  width: 100%;
  max-width: 110rem;
  margin: 9.6rem auto 12rem;
}

.worksDetailMainContents__body {
  flex: 1;
  padding-left: 6rem;
  border-left: #e2e2e2 solid 1px;
}
